{% extends 'index.html' %}
{% block content %}
    <div class="page-header">
        <a href="{% url 'prod_new' %}" class="top-menu btn btn-primary">Agregar Producto</a>
    </div>
    <div class="container">
        <div class="row">
            {% for prod in prods %}
                <div class="col-md-4">
                    <div class="producto">
                        <h2>{{ prod.1 }}</h2>
                        <p>Precio: {{ prod.4 }}</p>
                        <p>Descripción: {{ prod.2 }}</p>
                        <a class="btn btn-default" href="{% url 'prod_edit' pk=prod.0 %}">Editar</a>
                        <a class="btn btn-default" href="{% url 'prod_delete' pk=prod.0 %}">Eliminar</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}


